@charset "utf-8";

body { font-family: 'Noto Sans KR', AppleSDGothicNeo-Regular, 'Malgun Gothic', '맑은 고딕', dotum, '돋움', sans-serif; font-weight: 300; position: relative; }

/* leftSide */
.leftSide { width: 90%; height: 100%; overflow: hidden; border-right: 1px solid; box-sizing: border-box; }
header { width: 100%; height: 450px; overflow: hidden; }
h2 { margin: 40px 0 0 2%; }
h3 { height: 59px; transform-origin: 0% 100%; transform: rotate(90deg); font-size: 20px; line-height: 59px; margin-left: 2%; letter-spacing: 2px; text-indent: -40px; }


.container { width: 100%; overflow: hidden; }

.container-left { width: 28%; height: 2850px; margin: 0 1% 0 2%; float: left; }

.container-right { width: 66%; margin: 0 2% 0 1%; float: left; }

.container-right .project { width: 100%; height: 265px; }
.container-right .project-order { font-size: 20px; letter-spacing: 10px; margin-bottom: 66px; }
.container-right .project-title { font-size: 50px; font-weight: 500; margin-bottom: 37px;}
.container-right .project > .line1 { width: 1367px; height: 3px; background: #000; float: left; }

.container-right .description { width: 100%; height: 550px; line-height: 1.6; }
.container-right .description-left { width: 41.4%; margin-right: 3.1%; float: left; }
.container-right .description-right { width: 55.5%; float: left; }
.container-right .description .bold { font-weight: 500; margin-bottom: 15px; }
.container-right .description .bold3 { margin-top: 98px; }
.container-right .description-right p:nth-of-type(4) { text-align: justify; }
.container-right .description-right p:nth-of-type(5) { padding-top: 20px; text-align: justify; }
.container-right .image { width: 100%; height: 901px; background: url(../images/pf_jaju.jpg) no-repeat; background-size: cover; background-position: 0 0; margin-bottom: 120px; }

.container-right .cp { width: 41.4%; height: 698px; margin-right: 3.1%; float: left; }
.container-right .color-palette { font-weight: 500; margin-bottom: 48px; }
.container-right .color { height: 568px; margin-right: 3.1%; margin-bottom: 80px; }
.container-right .color div { height: 502px; background: #f5f5f5; position: relative; }
.container-right .color .colors-wrap { width: 351.5px; height: 400px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.container-right .color .colors1 { float: left; width: 112px; }
.container-right .color .colors1 > li { margin: 16px; }
.container-right .color .colors1 > li:nth-child(1) { width: 80px; height: 80px; background: #c4c4c4; border-radius: 50%; }
.container-right .color .colors1 > li:nth-child(2) { width: 80px; height: 80px; background: #5f5f5f; border-radius: 50%; }
.container-right .color .colors1 > li:nth-child(3) { width: 80px; height: 80px; background: #000; border-radius: 50%; }
.container-right .color .colors1 > li:nth-child(4) { width: 80px; height: 80px; background: #8a273c; border-radius: 50%; }
.container-right .color .colors2 { float: left; width: 92px; }
.container-right .color .colors2 > li { height: 80px; line-height: 80px;  margin: 16px; }
.container-right .color .colors3 { float: left; width: 147.5px; font-weight: 500; }
.container-right .color .colors3 > li { height: 80px; line-height: 80px;  margin: 16px; }
.container-right .color .line2 { width: 100%; height: 15px; background: #000; }

.container-right .tp { width: 55.5%; float: left; }
.container-right .typography { font-weight: 500; margin-bottom: 48px; }
.container-right .line3 { height: 15px; margin-bottom: 51px; background: #ccc; }
.container-right .typo { height: 568px; margin-bottom: 80px; }
.container-right .typo > p:nth-child(1) { font-weight: 700; font-size: 36px; margin-bottom: 12px; }
.container-right .typo > p:nth-child(2) { font-weight: 500; font-size: 24px; margin-bottom: 40px; }
.container-right .typo .pWrap { float: left; width: 60%; margin-right: 3%; height: 200px; line-height: 1.6; }
.container-right .typo .pWrap p:last-child { margin-top: 34px; }
.container-right .typo ul { float: left; width: 37%; }
.container-right .typo ul li { margin-bottom: 20px; }
.container-right .typo ul li:nth-child(1) { font-size: 12px; font-weight: 400; }
.container-right .typo ul li:nth-child(2) { font-size: 13px; font-weight: 400; }
.container-right .typo ul li:nth-child(3) { font-size: 14px; font-weight: 400; }
.container-right .typo ul li:nth-child(4) { font-size: 14px; font-weight: 500; }
.container-right .typo ul li:nth-child(5) { font-size: 15px; font-weight: 400; }
.container-right .typo ul li:nth-child(6) { font-size: 16px; font-weight: 500; }
.container-right .typo ul li:nth-child(7) { font-size: 19px; font-weight: 400; }
.container-right .typo ul li:nth-child(8) { font-size: 20px; font-weight: 400; }
.container-right .typo ul li:nth-child(9) { font-size: 22px; font-weight: 400; }

.container-right .view { width: 360px; height: 160px; padding: 10px; border: 1px solid #000; font-size: 18px; font-weight: 500; text-align: center; overflow: hidden; float: right; margin: 150px 0 150px; }
.container-right .view > p { width: 200px; line-height: 160px; float: left; }
.container-right .view > p a { color: #000; }
.container-right .view > p a:hover { text-decoration: line-through; }
.container-right .view > div { width: 160px; height: 160px; background: url(../images/QRCode_jaju.jpg) no-repeat; background-size: cover; background-position: 50%; float: right; }

/* footer */
footer { width: 96%; height: 100px; border-top: 1px solid; margin: 0 2%; padding-top: 20px; font-size: 12px; }



/* rightSide */
.rightSide { position: absolute; top: 0; right: 0; width: 10%; }

.menu { width: 100%; }
.menu_open { width: 59px; height: 59px; background: url(../images/menu.png) no-repeat; background-size: cover; margin: 40px 0 0 10%; transition: .6s; z-index: 999; }
.menu_close { width: 59px; height: 59px; background: url(../images/menu.png) no-repeat; background-size: cover; margin: 40px 0 0 10%; transition: .6s; z-index: 999; display: none; }
.menu div:hover { transform: rotate(90deg); }

.profile { width: 98%; padding: 101px 0 0 2%; line-height: 1.6; display: none; }
.profile p:nth-child(1) { font-weight: 500; padding-bottom: 20px; }
.profile p:nth-child(1) span { font-weight: 300; }
.profile p:nth-child(2) { line-height: 1.4; }
.profile p:nth-child(2) span { font-weight: 500; line-height: 3; }
.profile ul { font-weight: 500; margin-top: 65px; }
.profile ul span { color: #c7c7c7; }
.profile ul.certificate { margin-top: 30px; }
.profile ul > li { font-size: 14px; font-weight: 300; line-height: 1.4; }
.profile ul > li:first-child { margin-top: 10px; }
.profile p.contact { padding-top: 65px; }



/* 모바일 */
@media screen and (max-width:768px) {
	/* leftSide */
	.leftSide { width: 100%; border: none; }
	header { width: 92.8%; height: 250px; margin: 0 3.6%; }
	h2 { margin-top: 30px; }
	h2 img { width: 40px; height: 40px; }
	h3 { height: 40px; transform-origin: 0% 100%; transform: rotate(90deg); font-size: 16px; line-height: 40px; letter-spacing: 2px; text-indent: -30px; }
/**********************************************************************/

	.container { width: 92.8%; margin: 0 3.6%; }
	.container-left { display: none; }
	.container-right { width: 100%; margin: 0; float: none; }

	.container-right .project { height: 170px; }
	.container-right .project-order { font-size: 16px; letter-spacing: 5px; margin-bottom: 35px; }
	.container-right .project-title { font-size: 36px; margin-bottom: 30px;}
	.container-right .project > .line1 { width: 100%; float: none; }

	.container-right .description { height: auto; }
	.container-right .description-left { width:100%; margin: 0 0 50px 0; float: none; }
	.container-right .description-right { width: 100%; float: none; }
	.container-right .description .bold3 { margin-top: 50px; }

	.container-right .image { height: 320px; margin: 100px 0; }

	.container-right .cp { width: 100%; height: auto; margin-right: 0; float: none; }
	.container-right .color { height: auto; margin-right: 0; }
	.container-right .color div { height: 300px; }
	.container-right .color .colors-wrap { width: 289px; height: 220px; }
	.container-right .color .colors1 { width: 64px; }
	.container-right .color .colors1 > li { margin: 12px; }
	.container-right .color .colors1 > li:nth-child(1) { width: 40px; height: 40px; }
	.container-right .color .colors1 > li:nth-child(2) { width: 40px; height: 40px; }
	.container-right .color .colors1 > li:nth-child(3) { width: 40px; height: 40px; }
	.container-right .color .colors1 > li:nth-child(4) { width: 40px; height: 40px; }
	.container-right .color .colors2 { width: 85px; }
	.container-right .color .colors2 > li { height: 40px; line-height: 40px;  margin: 12px; }
	.container-right .color .colors3 { width: 140px; }
	.container-right .color .colors3 > li { height: 40px; line-height: 40px;  margin: 12px; }
	.container-right .color .line2 { height: 10px; }

	.container-right .tp { width: 100%; float: none; }
	.container-right .line3 { height: 10px; margin-bottom: 30px; float: none; }
	.container-right .typo { height: auto; }
	.container-right .typo > p:nth-child(1) { margin-bottom: 16px; }
	.container-right .typo > p:nth-child(2) { margin-bottom: 48px; }
	.container-right .typo .pWrap { float: none; width: 100%; margin-right: 0; height: auto; }
	.container-right .typo ul { float: none; width: 100%; margin-top: 40px; }

	.container-right .view { width: 200px; height: 50px; padding: 0; font-size: 16px; margin: 60px 0 60px; }
	.container-right .view > p { line-height: 50px; float: none; }
	.container-right .view > div { display: none; }

/*	.container-right .view { width: 360px; height: 160px; padding: 10px; border: 1px solid #000; font-size: 18px; font-weight: 500; text-align: center; overflow: hidden; float: right; margin: 150px 0 150px; }
	.container-right .view > p { width: 200px; line-height: 160px; float: left; }
	.container-right .view > p a { color: #000; }
	.container-right .view > p a:hover { text-decoration: line-through; }
	.container-right .view > div { width: 160px; height: 160px; background: url(../images/QRCode_jaju.jpg) no-repeat; background-size: cover; background-position: 50%; float: right; }*/

/**********************************************************************/
	footer { width: 92.8%; height: 80px; margin: 0 3.6%; }

	.rightSide { display: none; }
}